<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>


  <!-- Input Topics -->
  <arg name="color_topic" default="/camera/color/image_raw"/>
  <arg name="depth_topic" default="/camera/depth/image_raw"/>
  <arg name="segmentation_topic" default="/segmentation/color/image_raw"/>
  <arg name="camera_info_topic" default="/camera/color/camera_info"/>


  <!-- Launch Semantic Segmentation -->
  <include file="$(find semantic_segmentation_ros)/launch/semantic_segmentation.launch">
        <!-- Input -->
        <remap from="camera/color/image_raw"             to="$(arg color_topic)"/>
        <!-- Output -->
        <remap from="segmentation/color/image_raw"        to="$(arg segmentation_topic)" />

        <!-- Path to configuration file. Change path according to encoder-decoder -->
        <param name="cfg_filepath" value="$(find semantic_segmentation_ros)/config/ade20k-resnet50dilated-ppm_deepsup.yaml" />
        <!-- Path to model ckpt dir. -->
        <param name="model_ckpt_dir" value="$(find semantic_segmentation_ros)/ckpt/ade20k-resnet50dilated-ppm_deepsup" />

  </include>



  <!-- Launch Kimera Semantics -->
  <!-- If using in real time with realsense camera, change file to kimera_semantics_realsense.launch -->
  <include file="$(find kimera_semantics_ros)/launch/kimera_semantics_gazebo.launch">
        <!-- Input -->
        <arg name="left_cam_info_topic"         default="$(arg camera_info_topic)"/>
        <arg name="left_cam_topic"              default="$(arg color_topic)"/>
        <arg name="left_cam_depth_topic"        default="$(arg depth_topic)"/>
        <arg name="left_cam_segmentation_topic" default="$(arg segmentation_topic)"/>

  </include>


  <!-- Launch Rviz for Visualization -->
  <!-- If using in real time with realsense camera, change file to kimera_semantics_realsense.rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find kimera_semantics_ros)/rviz/kimera_semantics_gazebo.rviz" />

</launch>
